# fly.toml app configuration file generated for sayit-server-lingering-pond-9016 on 2026-01-15T12:18:08Z
# fly.toml app configuration file generated for app-morning-river-7339 on 2026-01-15T12:02:05Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "sayit-server"

[build]

[http_service]
  internal_port = 8000
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
